.herolayout {
    position: relative;
    width: 100%;
    min-height: 1000px;
    padding: 0px 100px;
    box-sizing: border-box;
    margin-top: 100px;
    .linkBox {
        width: 100%;
        height: 50px;
        ul {
            display: flex;
            align-items: center;
            color: var(--white-main);
            li {
                display: flex;
                align-items: center;
                text-decoration: none;
                list-style: none;
                .icons {
                    margin-right: 10px;
                    font-size: 30px;
                    line-height: 50px;
                    font-weight: bold;
                    color: var(--gray-main);
                }
                .text {
                    margin-right: 10px;
                    font-weight: bold;
                    color: var(--gray-main);
                    &:hover {
                        color: var(--white-sub);
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
    .titleBox {
        width: 100%;
        margin-top: 10px;
        font-family: Helvetica Neue;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        color: var(--white-main);
    }
    .desc {
        position: absolute;
        width: 250px;
        height: 100px;
        margin-top: 50px;
        font-family: Helvetica Neue;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        right: 100px;
        color: var(--white-main);
    }
    .imgBox {
        position: absolute;
        left: 0;
        margin-top: 150px;
        width: 700px;
        height: 700px;
        .image {
            height: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .herolayout {
        position: relative;
        width: 100%;
        // height: 810px;
        padding: 0px 20px;
        margin-top: 40px;
        box-sizing: border-box;
        .linkBox {
            width: 100%;
            height: 50px;
            ul {
                display: flex;
                align-items: center;
                color: var(--white-main);
                li {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    list-style: none;
                    .icons {
                        margin-right: 10px;
                        font-size: 20px;
                        line-height: 50px;
                        font-weight: bold;
                        color: var(--gray-main);
                    }
                    .text {
                        font-weight: bold;
                        margin-right: 10px;
                        font-size: 14px;
                        color: var(--gray-main);
                        &:hover {
                            color: var(--white-sub);
                            transition: all .3s ease-in-out;
                        }
                    }
                }
            }
        }
        .titleBox {
            width: 100%;
            margin-top: 20px;
            font-family: Helvetica Neue;
            font-size: 29px;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            color: var(--white-main);
        }
        .desc {
            position: absolute;
            width: 250px;
            height: 100px;
            margin-top: 30px;
            font-family: Helvetica Neue;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            left: 20px;
            color: var(--white-main);
        }
        .imgBox {
            margin-top: 150px;
            width: 100%;
            height: 300px;
            .image {
                width: 100%;
            }
        }
    }
}