.moreButton {
    width: 200px;
    height: 55px;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 0.4px solid var(--white-main);
    text-align: right;
    font-family: Helvetica Neue;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    cursor: pointer;
    color: var(--white-main);
    position:relative;
    overflow:hidden;
    .triangle {
        font-size: 17px;
        margin-right: 15px;
        color: var(--orange-main);
    }
    span {
        position:relative;
        z-index:-1;
    }
    &::before {
        content:'';
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:100%;
        z-index: -1;
        transform:translateX(-100%);
        background:var(--orange-main);
        transition:transform .2s ease-in-out
    }
    &:hover {
        cursor:pointer;
        color:#391414
    }
    &:hover::before {
        transform:translateX(0)
    }
}

// props
.white {
    color: var(--white-main);
}
.black {
    color: var(--black-main);
    background-color: var(--orange-main);
}


@media screen and (max-width: 1024px) {

}