.contact {
  width: 100%;
  padding-top: 50px;
  form {
    width: 100%;
    label {
      display: block;
      width: 100%;
      font-size: 16px;
      margin-bottom: 10px;
      color: var(--main-green-color);
    }
    .icon {
      display: inline;
      margin-left: 10px;
      color: var(--main-pink-color);
    }
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      display: block;
    }
    textarea {
      width: 100%;
      min-height: 200px;
      margin-bottom: 30px;
      display: block;
    }
    button {
      display: block;
      width: 100%;
      padding: 20px 10px;
      color: var(--white-main);
      background-color: var(--orange-main);
      transition: all 0.3s;
      &:hover {
        background-color: var(--orange-sub);
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .contact {
    width: 100%;
    padding-top: 30px;
    form {
      width: 100%;
      label {
        display: block;
        width: 100%;
        font-size: 16px;
        font-weight: 550;
        margin-bottom: 10px;
        color: var(--orange-main);
      }
      .icon {
        display: inline;
        margin-left: 10px;
        color: white;
      }
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        display: block;
      }
      textarea {
        width: 100%;
        min-height: 200px;
        margin-bottom: 30px;
        display: block;
      }
      button {
        display: block;
        width: 100%;
        padding: 20px 10px;
        color: var(--orange-main);
        border: 1px solid var(--orange-main);
        background-color: var(--black-main);
        &:hover {
          background-color: var(--orange-main);
        }
      }
    }
  }
}
