.heroBox {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  .subJaTitle {
    display: block;
    width: 100%;
    color: var(--white-main);
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 14px;
  }
  .title {
    color: var(--white-main);
    font-family: Helvetica Neue;
    font-size: 130px;
    font-style: italic;
    font-weight: 700;
    line-height: 110px;
  }
  .flexBox {
    width: 900px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .centerTitle {
      height: 150px;
      color: var(--white-main);
      font-family: Helvetica Neue;
      font-size: 130px;
      font-style: italic;
      font-weight: 700;
      line-height: 140px;
      margin: 0 auto;
      margin-right: 0;
    }
    .textBoxText {
      width: 350px;
      height: 70px;
      padding: 20px 0;
      font-size: 17px;
      text-align: left;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1024px) {
  .heroBox {
    width: 98%;
    text-align: center;
    .subJaTitle {
      display: block;
      width: 100%;
      color: var(--white-main);
      font-family: Helvetica Neue;
      font-size: 12px;
      font-style: italic;
      font-weight: 700;
      line-height: 15px;
    }
    .title {
      color: var(--white-main);
      font-family: Helvetica Neue;
      font-size: 60px;
      font-style: italic;
      font-weight: 700;
      line-height: 60px;
    }
    .flexBox {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      .centerTitle {
        display: block;
        height: 60px;
        color: var(--white-main);
        font-family: Helvetica Neue;
        font-size: 60px;
        line-height: 60px;
        font-style: italic;
        font-weight: 700;
        margin: 0 auto;
      }
      .textBoxText {
        width: 150px;
        height: 60px;
        font-size: 7px;
        text-align: left;
        margin: 0 auto;
      }
    }
  }
}
