.about {
  width: 100%;
  padding: 200px 0;
  box-sizing: border-box;
  .container {
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
    .flexBox {
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: space-between;
      .leftBox {
        width: 50%;
        .image {
          width: 100%;
        }
      }
      .rightBox {
        position: relative;
        width: 45%;
        color: var(--white-main);
        .title {
          display: block;
          margin-bottom: 70px;
          text-align: right;
          font-family: Helvetica Neue;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .text {
          text-align: right;
          font-family: Helvetica Neue;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: 35px;
          margin-bottom: 100px;
        }
        .buttonBox {
          position: absolute;
          width: 200px;
          height: 55px;
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 150px 0;
    .container {
      width: 90%;
    }
  }
}
