.about {
  width: 100%;
  padding: 200px 0;
  margin-bottom: 50px;
  box-sizing: border-box;
  .container {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    .flexBox {
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: space-between;
      .leftBox {
        width: 50%;
        .image {
          width: 100%;
        }
      }
      .rightBox {
        position: relative;
        width: 45%;
        color: var(--white-main);
        .title {
          display: block;
          margin-bottom: 70px;
          text-align: right;
          font-family: Helvetica Neue;
          font-size: 35px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .text {
          text-align: right;
          font-family: Helvetica Neue;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: 35px;
          margin-bottom: 100px;
        }
        .buttonBox {
          position: absolute;
          width: 200px;
          height: 55px;
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    width: 100%;
    padding: 150px 0 60px 0;
    box-sizing: border-box;
    .container {
      width: 90%;
      max-width: 1800px;
      margin: 0 auto;
      .flexBox {
        width: 100%;
        display: block;
        .leftBox {
          width: 100%;
          margin-top: -50px;
          margin-bottom: 20px;
          .image {
            height: 280px;
          }
        }
        .rightBox {
          position: relative;
          width: 100%;
          color: var(--white-main);
          .title {
            display: block;
            margin-bottom: 30px;
            text-align: left;
            font-family: Helvetica Neue;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
          }
          .text {
            text-align: left;
            font-family: Helvetica Neue;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 70px;
          }
          .buttonBox {
            position: absolute;
            width: 200px;
            height: 55px;
            left: 0;
          }
        }
      }
    }
  }
}
