.about {
  width: 100%;
  padding: 200px 0;
  box-sizing: border-box;
  .container {
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 150px 0;
    .container {
      width: 95%;
    }
  }
}
