.community {
  width: 100%;
  padding: 200px 0;
  box-sizing: border-box;
  .container {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  .community {
    width: 100%;
    padding: 0px 0;
    box-sizing: border-box;
    .container {
      width: 90%;
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}
