.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 300px;
  box-sizing: border-box;
  .container {
    max-width: 1500px;
    margin: 0 auto;
    color: var(--white-main);
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    height: calc(100vh - 60px);
    padding-top: 170px;
  }
}
