.hoverTile {
    width: 100%;
    height: 900px;
    padding: 100px 0px;
    // TODO: 後で消す
    color: white;
    .container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .hoverTile {
        padding: 0px 0px;
        height: 600px;
    }
}