.service {
  width: 100%;
  max-width: 1800px;
  padding: 200px 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  .container {
    // 各種サービスの絶対位置の原点部分
    position: relative;
    width: 80%;
    max-width: 1200px;
    min-height: 2350px;
    margin: 0 auto;
    border-top: 0.1px solid rgb(150, 150, 150);
    .mainTextBox {
      width: 50%;
      margin-top: 30px;
      .text {
        color: var(--white-main);
        text-align: left;
        font-family: Helvetica Neue;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        margin-bottom: 100px;
        .accentText {
          font-size: 19px;
          line-height: 25px;
        }
      }
    }
    // ここから各種サービスの絶対位置の記述
    .card {
      width: 500px;
      padding: 10px 0px;
      .cardTitle {
        top: 10;
        color: var(--white-main);
        font-size: 38px;
        line-height: 50px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .cardImage {
        width: 100%;
      }
      .cardVisitButton {
        display: block;
        border-radius: 5;
        width: 150px;
        height: 40px;
        margin-left: 350px;
        line-height: 40px;
        padding: 0 10px;
        background-color: var(--orange-main);
        color: var(--white-main);
        margin-top: 20px;
        &:hover {
          transition: all 0.4s;
          background-color: var(--orange-sub);
        }
      }
    }
    // 各種カードの個別の絶対位置の記述
    .card1 {
      position: absolute;
      right: 0;
      top: 500px;
    }
    .card2 {
      position: absolute;
      margin-top: 700px;
    }
    .card3 {
      position: absolute;
      right: 0;
      margin-top: 400px;
    }
    .card4 {
      position: absolute;
      right: 0;
      margin-top: 1100px;
    }
    .card5 {
      position: absolute;
      top: 850px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .service {
    width: 100%;
    padding: 100px 0 50px 0;
    margin: 0 auto;
    box-sizing: border-box;
    .container {
      // 各種サービスの絶対位置の原点部分
      position: relative;
      width: 90%;
      min-height: 2700px;
      margin: 0 auto;
      border-top: 0.1px solid rgb(150, 150, 150);
      .mainTextBox {
        width: 100%;
        margin-top: -60px;
        .text {
          color: var(--white-main);
          text-align: left;
          font-family: Helvetica Neue;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 60px;
          .accentText {
            font-size: 12px;
            line-height: 30px;
            font-weight: 400;
          }
        }
      }
      // ここから各種サービスの絶対位置の記述
      .card {
        width: 100%;
        padding: 10px 0px;
        .cardTitle {
          top: 10;
          color: var(--white-main);
          font-size: 20px;
          line-height: 30px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .cardImage {
          width: 100%;
        }
        .cardVisitButton {
          display: block;
          border-radius: 5;
          width: 130px;
          height: 30px;
          margin-left: 10px;
          line-height: 30px;
          padding: 0 10px;
          background-color: var(--orange-main);
          color: var(--white-main);
          margin-top: 20px;
          font-size: 12px;
          &:hover {
            transition: all 0.4s;
            background-color: var(--orange-sub);
          }
        }
      }
      // 各種カードの個別の絶対位置の記述
      .card1 {
        position: absolute;
        right: 0;
        top: 550px;
      }
      .card5 {
        position: absolute;
        top: 910px;
      }
      .card2 {
        position: absolute;
        margin-top: 810px;
      }
      .card3 {
        position: absolute;
        right: 0;
        margin-top: 1420px;
      }
      .card4 {
        position: absolute;
        right: 0;
        margin-top: 1810px;
      }
    }
  }
}
