.work {
  width: 100%;
  padding: 0px 0 30px 0;
  box-size: border-box;
  .container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    .flexBox {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
