.button {
  width: 80px;
  height: 60px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-left: 0.1px solid var(--white-main);
  border-bottom: 0.1px solid var(--white-main);

  p {
    display: none;
    color: white;
    margin: 0px;
    text-transform: uppercase;
    transition: color 0.5s;
  }

  svg {
    position: absolute;
    right: 20px;
    top: 20px;

    line {
      transition: stroke 0.5s;
    }
  }

  .background {
    background-color: var(--orange-main);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 0;
    transition: height 0.3s;
  }

  &:hover {
    border-left: 0.1px solid var(--orange-main);
    border-bottom: 0.1px solid var(--orange-main);
    p {
      color: white;
    }
    svg {
      line {
        stroke: white;
      }
    }
    .background {
      background-color: var(--orange-main);
      height: 100%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .button {
    width: 140px;
    height: 100px;
    p {
      display: block;
    }
  }
}
